/*对css进行共用抽取*/

/** {*/
/*margin:0;*/
/*}*/

#header-nav{
    margin: 0;
}

body {
    /*background-color: #f5f5f5;*/
}

.wrap{
    margin:0;
    padding: 10px 5px;
    width: 100%;
    position:relative;
    top:52px;
    min-width: 1200px;
}

/*侧边导航*/
#feature-nav {
    min-width: 90px;
    max-width: 100px;
}

#feature-display {
    /*left:105px;*/
    min-width: 900px;
    /*max-width: 1200px;*/

}

.block-display {
    background-color: #f5f5f5;
    border: #ddd solid 1px;
    border-radius: 4px;
    padding:5px 0;
    margin:0 auto;
}

#notification-center {
    width: 200px;
}

.fixed {
    position: fixed;
    z-index: 100;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

#nav-tabs {
    border-bottom: none;
    width: 90px;
    margin:0 auto;
}

.row {
    margin:0;
}

div[class^="col-md-"] {
    padding:0;
}

.block-shadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.panel-body-border {
    border-bottom:1px #ddd solid;
}